[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = oliverkristianfritsche
	email = 61664788+oliverkristianfritsche@users.noreply.github.com
[safe]
	directory = B:/SharedFolder/Projects/PhysicalProjects/GardenBotv2/software/gardenbot
	directory = B:/Espressif/frameworks/esp-idf-v5.0.2/components/openthread/openthread
	directory = B:/Espressif/frameworks/esp-idf-v5.0.2/components/openthread/openthread
	directory = B:/Espressif/frameworks/esp-idf-v5.0.2/components/openthread/openthread
	directory = B:/Espressif/frameworks/esp-idf-v5.0.2
[credential]
	helper = "!f() { /root/.vscode-server/bin/fee1edb8d6d72a0ddff41e5f71a671c23ed924b9/node /tmp/vscode-remote-containers-c37baf10-5cf6-4829-be21-751e6944c135.js git-credential-helper $*; }; f"
