.env
# tests
videos_files
videos
audio_files
*.db
*.wav
*.mp3
*.mp4
config.json
cookies.txt
nltk_data
#ignore all pync files anywhere
*.pyc
# ignore hidden folders but keep hidden files
.*
!.gitignore
!.gitconfig